{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Hi there!
          <br><br>
          I'm Julian, a hopeless romantic with a passion for storytelling and a penchant for expressing emotions through words. While my day job might not scream "romantic," my heart beats to the rhythm of love stories, both real and imagined.<br><br>
          I've always believed that love knows no bounds, and that's a belief that's only been reinforced through my relationship with the incredible Lexy. Despite the miles that separate us, our love continues to grow stronger with each passing day, inspiring me to write heartfelt blog posts like this one in the hopes of reaching her across the vast expanse of Canada.<br><br>

        When I'm not busy pouring my heart out into blog posts, you can find me exploring new coffee shops, losing myself in a good book, or planning our next adventure together. I believe in living life to the fullest, savoring every moment, and cherishing the connections that make life truly meaningful.<br><br>

        Thank you for joining me on this journey of love and discovery. Here's to many more chapters filled with laughter, love, and the promise of tomorrow.<br><br>

        With love,<br>
        Julian
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
